.container {
    width: 100%;
    .wrapperBox {
        padding: 76px 0px 66px 0px;
        width: 100%;

        h1 {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-bottom: 36px;
        }
    }
}