.container {
    background-color: #EDEDED;

    .wrapperBox {
        padding: 64px 0px;

        h1 {
            text-align: center;
            padding-bottom: 48px;
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        .boxInside {
            display: flex;
            gap: 24px;


            .leftBoxInside,
            .rightBoxInside {
                width: 50%;
            }

            .leftBoxInside {
                height: 406px;

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .rightBoxInside {
                display: flex;
                flex-direction: column;
                gap: 23px;

                .all {
                    height: 5%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

            }
        }

    }
}

@media screen and (max-width: 950px) {
    .wrapperBox {
        padding: 32px 0px !important;

        h1 {
            padding-bottom: 24px !important;
            font-size: 20px !important;
            line-height: 32px !important;
        }

        .boxInside {
            flex-direction: column;

            .rightBoxInside,
            .leftBoxInside {
                width: 100% !important;
            }

            
        }
    }
}

