// .container {
//     width: 100%;
//     height: 100%;
    
.wrapperBox {
    padding: 64px 0px 32px 0px;

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .title {
            // padding-bottom: 4px ;
            font-family: 'Nunito Sans';
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .boxInside {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img {
                object-fit: contain;
                max-width: 30%;
                height: auto;
            }
        }
    }
}
